Button {
  background-color: #008CBA;
  border: none;
  color: white;
  font-size: $font-size-large;
  height:50px ;
  margin-right:5px;
 
  padding: $s-size $l-size;

  
}

button:hover {
  background-color:lightsalmon;
  color:#008CBA;
}


