.footer {
    background: $dark-blue;
    
  }
  
  .footer__content {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: $s-size $s-size;
    margin-top: 2%;
    
  }
  
  .footer__title {
    color: white;
    text-decoration: none;
    
    
    h1 {
      margin: 0;
      font-size: 18px;
      
    }
  }
  