.container {
  width: 50%;
  margin: 10px auto;
 
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 81px white, 0 8px 8px white;
  font-size: 25px;
}
.container > FormControl {
  background: transparent;
  border: 0;
 
  color: #fff;
  
}
  
 
  

  .search{
    border: 1px solid #cacccd;
    height: 50px;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
    margin: auto;
    @media (min-width: $desktop-breakpoint) {
      align-items: center;
      flex-direction: row;
      justify-content:center;
      padding: $m-size;
      width: 30%;
    }
    

  }
  
