.show-for-mobile {
  @media (min-width: $desktop-breakpoint) {
    display: none;
  }
}

.show-for-desktop {
  @media (max-width: $desktop-breakpoint - .01rem) {
    display: none;
  }
}
.eapps-widget-toolbar-panel{
  display:none;
}
.Foundation__Inner-sc-11tbro4-1 {
  color:$off_white;
}